
  body {
            padding-top: 56px; /* Adjust for fixed navbar */
        }

        header {
            text-align: center;
            margin-bottom: 20px;
        }

        article {
            max-width: 800px;
            margin: 0 auto;
        }

        h2 {
            color: #333;
        }

        p {
            line-height: 1.6;
        }

        code {
            background-color: #f4f4f4;
            padding: 2px 6px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        footer {
            margin-top: 50px;
            text-align: center;
        }
           /* Top Navigation Bar */
.topnav {
    background-color: #084b7b;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 1482px;
    
  }
  
  .topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #555;
  }
  
  .topnav a.active {
    background-color: #007bff;
  }
  
