
    body {
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
      margin: 0;
      display: flex;
    }

    #sidebar {
      background-color: #f4f4f4;
      padding: 20px;
      min-width: 250px;
      margin-top: 40px;
    }

    #content {
      flex: 1;
      padding: 20px;
      margin-top: 40px;
    }

    h1, h2, h3 {
      color: #333;
    }

    code {
      font-family: 'Courier New', monospace;
      background-color: #f4f4f4;
      padding: 2px 5px;
      border: 1px solid #ddd;
    }

    pre {
      background-color: #f4f4f4;
      padding: 10px;
      border: 1px solid #ddd;
      overflow-x: auto;
    }

    .section {
      margin-bottom: 40px;
    }

    .header-title {
      font-size: 1.5em;
      color: #0066cc;
      margin-bottom: 10px;
    }

    .should-have {
      color: #008000;
      font-weight: bold;
    }

    .should-not-have {
      color: #ff0000;
      font-weight: bold;
    }

    .example-code {
      margin: 10px 0;
    }

    .explanation {
      color: #666;
    }
    /* Top Navigation Bar */
.topnav {
    background-color: #084b7b;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 1482px;
    
  }
  
  .topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #555;
  }
  
  .topnav a.active {
    background-color: #007bff;
  }
  
